@model IEnumerable<Task5_EF.Models.PlaceModel>

@{
    ViewBag.Title = "Place List";
}

<h2>Place List</h2>

<p>
    @Html.ActionLink("Create New", "CreatePlace")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditPlace", new { id=item.Id }) |
            @Html.ActionLink("Details", "GetPlaceDetails", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeletePlace", new { id=item.Id })
        </td>
    </tr>
}

</table>
